Django
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-extra-fields
flake8
pep8-naming
flake8-broken-line
flake8-return
flake8-isort
gunicorn
pep8
Pillow
psycopg2-binary
PyJWT
python-dotenv
python3-openid